<!--
<div>
  <p>Manually defining the suffix icon</p>
  <mat-form-field>
    <input matInput
      [id]="id"
      [name]="name"
      [formControl]="formControl"
      [matDatepicker]="picker"
      [placeholder]="placeholder">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div>
  <p>Should be able to choose the icon position based on config, but this doesn't work.</p>
  <mat-form-field>
    <input matInput
      id="{{id}}_2"
      name="{{name}}_2"
      [formControl]="formControl2"
      [matDatepicker]="picker2"
      [placeholder]="placeholder">

    <ng-container [ngSwitch]="iconPosition">
      <ng-container *ngSwitchCase="'prefix'">
        <mat-datepicker-toggle matPrefix [for]="picker2"></mat-datepicker-toggle>
      </ng-container>
      <ng-container *ngSwitchCase="'suffix'">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      </ng-container>
    </ng-container>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>

<div>
  <p>This works as well.</p>
  <mat-form-field>
    <input matInput
      id="{{id}}_3"
      name="{{name}}_3"
      [formControl]="formControl3"
      [matDatepicker]="picker3"
      [placeholder]="placeholder">

    <mat-datepicker-toggle matPrefix [for]="picker3" *ngIf="iconPosition === 'prefix'"></mat-datepicker-toggle>
    <mat-datepicker-toggle matSuffix [for]="picker3" *ngIf="iconPosition === 'suffix'"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
</div> -->


<app-material-stepper></app-material-stepper>
